<main class="main">
	<div class="page-header text-center" style="background-image: url('/userassets/images/page-header-bg.jpg')">
		<div class="container">
			<h1 class="page-title">Checkout<span>Shop</span></h1>
		</div><!-- End .container -->
	</div><!-- End .page-header -->
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a href="/shop">Shop</a></li>
				<li class="breadcrumb-item active" aria-current="page">Checkout</li>
			</ol>
		</div><!-- End .container -->
	</nav><!-- End .breadcrumb-nav -->

	<div class="page-content">
		<div class="checkout">
			<div class="container">
				<div class="cart-discount ms-auto">
					<form id="coupon-form">
						<div class="input-group">
							{{#if discountedPrice}}
							<input type="text" class="form-control" name="couponcode" required value="{{couponcode}}">
							<button onclick="removeCoupon('{{this._id}}')"
								class="btn btn-sm btn-outline-danger-2  btn-danger" style="height:40px;">Remove
								Coupon</button>

							{{else}}
							<input type="text" class="form-control" name="couponcode" required
								placeholder="coupon code">
							<div class="input-group-append">
								<button class="btn btn-sm btn-outline-primary-2" style="height:40px;" type="submit"><i
										class="icon-long-arrow-right"></i></button>

							</div><!-- .End .input-group-append -->
							{{/if}}


						</div><!-- End .input-group -->
					</form>
					<label id="coupn-err"></label>
				</div><!-- End .cart-discount -->
				<form action="" id="checkout-form">
					<div class="row">
						<div class="col-lg-9">
							<h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
							{{#each address}}
							<tr>
								<td>
									<input checked value="{{this._id}}" type="radio" name="addressId">
									<span
										style="display: inline-block; height: 100px; width: 350px; border: 1px solid rgba(3, 91, 255, 0.73); margin-bottom: 20px; padding: 20px; border-radius: 6px;">
										
											<div> {{this.firstName}} {{this.lastName}}</div>
											{{this.address}},
											{{this.city}},
											{{this.state}},
											{{this.country}},
											{{this.pincode}},
											<div class="mb-2"> {{this.email}}, {{this.phone}}</div>
											
											
									</span>
								</td> <br>
							</tr>



							{{/each}}

							<div class="col-md-6">
								<p class="mt-3">Click here for add new address</p>
								{{!-- <button class="btn btn-outline-primary-2 btn-order btn-block mt-2"
									data-bs-toggle="modal" data-bs-target="#addAddress">Add New Adresses</button> --}}
								<button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal"
									data-bs-target="#addAddress"> Add New Address
								</button>
							</div>

						</div><!-- End .col-lg-9 -->


						<aside class="col-lg-3">

							<div class="summary">
								<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

								<table class="table table-summary">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>

									<tbody>
										{{#each productDetails}}
										<tr>
											<td><a href="#">{{this.product.productName}}</a></td>
											<td class="text-primary">₹{{this.quantityTotal}}</td>
										</tr>
										{{/each}}

										<tr class="summary-subtotal">
											<td>Subtotal:</td>
											<td>₹{{subTotal}}</td>
										</tr><!-- End .summary-subtotal -->
										<tr>
											<td>Shipping:</td>
											<td>Free shipping</td>
										</tr>
										<tr class="summary-total">
											<td>Total:</td>
											<td>₹{{subTotal}}</td>
										</tr><!-- End .summary-total -->
										<tr>
											<td>Coupon:</td>
											{{#if discountedPrice}}
											<td><span>
													<p>{{couponcode}}</p>
												</span></td>
											{{else}}
											<td><span>
													<p id="discount-coupon">No Coupons are applied</p>
												</span></td>
											{{/if}}
										</tr><!-- End .summary-total -->
										<tr>
											<td>Discounted Price</td>
											{{#if discountedPrice}}
											<td>₹<span class="text-success">{{discountedPrice}}</span></td>
											{{else}}
											<td>₹<span id="discounted-price">0</span></td>
											{{/if}}
										</tr>
										<tr class="summary-total">
											<td>Grand Total:</td>
											{{#if discountedPrice}}
											<td>₹<span>{{grandTotal}}</span></td>
											{{else}}
											<td>₹<span id="buying-price">{{subTotal}}</span></td>
											{{/if}}


										</tr><!-- End .summary-total -->
									</tbody>
								</table><!-- End .table table-summary -->

								<div class="accordion-summary" id="accordion-payment">
									{{!-- <div class="card">
										<div class="card-header" id="heading-1">
											<h2 class="card-title">
												<a role="button" data-toggle="collapse" href="#collapse-1"
													aria-expanded="true" aria-controls="collapse-1">
													Direct bank transfer
												</a>
											</h2>
										</div><!-- End .card-header -->
										<div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
											data-parent="#accordion-payment">
											<div class="card-body">
												Make your payment directly into our bank account. Please use your Order
												ID as the payment reference. Your order will not be shipped until the
												funds have cleared in our account.
											</div><!-- End .card-body -->
										</div><!-- End .collapse -->
									</div><!-- End .card --> --}}

									{{!-- <div class="card">
										<div class="card-header" id="heading-2">
											<h2 class="card-title">
												<a class="collapsed" role="button" data-toggle="collapse"
													href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
													Check payments
												</a>
											</h2>
										</div><!-- End .card-header -->
										<div id="collapse-2" class="collapse" aria-labelledby="heading-2"
											data-parent="#accordion-payment">
											<div class="card-body">
												Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque
												volutpat mattis eros. Nullam malesuada erat ut turpis.
											</div><!-- End .card-body -->
										</div><!-- End .collapse -->
									</div><!-- End .card --> --}}

									<div class="card">
										<div class="card-header" id="heading-3">
											<h2 class="card-title">
												<input name="payment-method" type="radio" value="COD" checked>
												<span class="px-2">Cash on delivery</span>

											</h2>
										</div><!-- End .card-header -->

									</div><!-- End .card -->
									{{#if shopWithBalance}}
									<div class="card mt-2">
										<div class="card-header" id="heading-3">
											<h2 class="card-title">
												<input name="payment-method" type="radio" value="wallet" checked>
												<span class="px-2">Shop With Wallet</span>
												<label>Available Balance:{{wallet.balance}}</label>

											</h2>
										</div><!-- End .card-header -->

									</div><!-- End .card -->
									{{/if}}
									<div class="card mt-2">
										<div class="card-header" id="heading-4">
											<h2 class="card-title">
												<input name="payment-method" type="radio" value="PayPal">
												<span class="px-2">PayPal</span>
											</h2>
										</div><!-- End .card-header -->
									</div><!-- End .card -->

									<div class="card mt-2">
										<div class="card-header" id="heading-5">
											<h2 class="card-title">
												<input name="payment-method" type="radio" value="Razorpay">
												<span class="px-2">Razor Pay</span>
											</h2>
										</div><!-- End .card-header -->
									</div><!-- End .card -->
									<img class="mt-2" src="/userassets/images/payments-summary.png"
										alt="payments cards">
								</div><!-- End .accordion -->
								{{#if address}}
								<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
									<span class="btn-text">Place Order</span>
									<span class="btn-hover-text">Proceed to Checkout</span>
								</button>
								{{else}}
								<a typ="button" class="btn btn-outline-primary-2 btn-order btn-block mt-3"
									data-bs-toggle="modal" data-bs-target="#addAddress">
									<span class="btn-text">Place Order</span>
									<span class="btn-hover-text text-white">Proceed to Checkout</span>
								</a>
								{{/if}}


							</div><!-- End .summary -->
						</aside><!-- End .col-lg-3 -->
					</div><!-- End .row -->
				</form>
			</div><!-- End .container -->
		</div><!-- End .checkout -->
	</div><!-- End .page-content -->
</main><!-- End .main -->

{{!-- =======================Add New Adress =================== --}}

<div class="modal fade" id="addAddress" tabindex="-1" aria-labelledby="addAddressLabel" aria-hidden="true">
	{{!-- <form action="/user/add-address" method="post" enctype="multipart/form-data"> --}}
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="addAddressLabel">Enter your Address </h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ml-5">
					<div class="content-main">
						<form action="/add-address" method="post" id="addcheckout-form">
							<div class="row">
								<div class="col-lg-9">
									<h2 class="checkout-title"></h2><!-- End .checkout-title -->
									<div class="row">
										<div class="col-sm-6">
											<label>First Name *</label>
											<input type="text" name="first-name" class="form-control" required>
										</div><!-- End .col-sm-6 -->

										<div class="col-sm-6">
											<label>Last Name *</label>
											<input type="text" name="last-name" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->

									{{!-- <label>Company Name (Optional)</label>
									<input type="text" class="form-control"> --}}

									<label>Country *</label>
									<input type="text" name="country" value="India" readonly class="form-control"
										required>

									<label>Street address *</label>
									<input type="text" class="form-control" name="address"
										placeholder="House number and Street name" required>
									{{!-- <input type="text" class="form-control"
										placeholder="Appartments, suite, unit etc ..." required> --}}

									<div class="row">
										<div class="col-sm-6">
											<label>Town / City *</label>
											<input type="text" name="town" class="form-control" required>
										</div><!-- End .col-sm-6 -->

										<div class="col-sm-6">
											<label>State *</label>
											<input type="text" name="state" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->

									<div class="row">
										<div class="col-sm-6">
											<label>Postcode / ZIP *</label>
											<input type="text" name="pincode" class="form-control" required>
										</div><!-- End .col-sm-6 -->

										<div class="col-sm-6">
											<label>Phone *</label>
											<input type="tel" name="phone" class="form-control" required>
										</div><!-- End .col-sm-6 -->
									</div><!-- End .row -->

									<label>Email address *</label>
									<input type="email" name="email" class="form-control" required>
									<input type="text" name="userId" class="form-control" value="{{user._id}}" hidden>

									{{!-- <div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="checkout-create-acc">
										<label class="custom-control-label" for="checkout-create-acc">Create an
											account?</label>
									</div><!-- End .custom-checkbox -->

									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="checkout-diff-address">
										<label class="custom-control-label" for="checkout-diff-address">Ship to a
											different address?</label>
									</div><!-- End .custom-checkbox -->

									<label>Order notes (optional)</label>
									<textarea class="form-control" cols="30" rows="4"
										placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
									--}}
								</div>
							</div>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Add Address</button>
					</div>
				</div>
	</form>
</div>
</div>
</div>










<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
	$('#coupon-form').submit((e) => {
		e.preventDefault()

		$.ajax({
			url: '/coupon-submit',
			method: 'post',
			data: $('#coupon-form').serialize(),
			success: (response) => {
				console.log(response)
				var err = document.getElementById('coupn-err')
				if (response.invalid) {
					err.innerHTML = '<span style="color: red">Enter a valid Coupon!</span>'
				} else if (response.dateExpired) {
					err.innerHTML = '<span style="color: red">Coupon has expired!</span>'
				} else if (response.used) {
					err.innerHTML = '<span style="color: red">You have already used this coupon!</span>'
				} else {
					err.innerHTML = '<span style="color: green">Coupon has been successfully Applied!</span>'
					Swal.fire({
						position: 'center',
						icon: 'success',
						title: 'Coupon has been successfully Applied!',
						showConfirmButton: false,

						timer: 1500
					})
					response.discountedprice = parseInt(response.discountedprice)
					response.finalAmount = parseInt(response.finalAmount)


					document.getElementById('discounted-price').innerHTML = response.discountedprice
					document.getElementById('buying-price').innerHTML = response.finalAmount
					document.getElementById('discounted-price1').innerHTML = response.discountedprice
					document.getElementById('buying-price1').innerHTML = response.finalAmount
					document.getElementById('discount-coupon').innerHTML = response.coupon




				}
			}

		})
	})

</script>

<script>
	function removeCoupon(carttId) {

		Swal.fire({
			toast: true,
			icon: 'success',
			title: 'Item added to wishlist',
			animation: false,
			position: 'top-right',
			showConfirmButton: false,
			timer: 1000,
			timerProgressBar: true,
		}).then((result).submit((e) => {
			e.preventDefault()
			$.ajax({
				url: '/remove/coupon/' + carttId,
				method: 'delete',
				success: (response) => {

					console.log(response.status)
					window.location.reload()
				}
			})

		}))

	}


</script>





<script>

	$("#checkout-form").submit((e) => {
		e.preventDefault()
		$.ajax({
			url: '/place-order',
			method: 'post',
			data: $('#checkout-form').serialize(),
			success: (response) => {
				console.log(response)

				if (response.codSuccess) {

					window.location.href = '/confirm-order'
				} else if (response.razorpaySuccess) {
					razorpayPayment(response.response)
					console.log(response.response)
				} else if (response.link) {
					location.href = response
				}else if (response.walletpaySuccess){
					window.location.href = '/confirm-order'
				}
			}
		})
	})
	function razorpayPayment(order) {
		console.log(order)
		var options = {
			"key": "rzp_test_nKQWJAxWQhoKbk", // Enter the Key ID generated from the Dashboard
			"amount": order.amount,
			// Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
			"currency": "INR",
			"name": "Picykle",
			"description": "Test Transaction",
			"image": "https://example.com/your_logo",
			"order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
			"handler": function (response) {
				verifyPayment(response, order)
			},
			"prefill": {
				"name": "Gaurav Kumar",
				"email": "gaurav.kumar@example.com",
				"contact": "9999999999"
			},
			"notes": {
				"address": "Razorpay Corporate Office"
			},
			"theme": {
				"color": "#3399cc"
			}
		};
		var rzp1 = new Razorpay(options);
		rzp1.open();
	}
	function verifyPayment(payment, order) {
		$.ajax({
			url: '/verify-payment',
			data: {
				payment,
				order

			},
			method: 'post',
			success: (response) => {
				if (response.status) {
					window.location.href = '/confirm-order'

				} else {
					alert("payment failed")
				}
			}
		})
	}

</script>